/*  */
/* Body */
/*  */

body {
    background: white;
}

/*  */
/* FAQ */
/*  */

.faq-sortable {
    touch-action: none;
}

/*  */
/* Flip Card */
/*  */

.flip-card {
    position: relative;
    min-height: 360px;
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    padding: 0.75rem;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: white;
    background: black;
    border-radius: 30px;
    overflow: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

/*  */
/* Infinite Scroll */
/*  */

.infiniteScrollWrapper {
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );

    padding-block: 8px;
    overflow: hidden;
    user-select: none;

    --gap: 16px;
    display: flex;
    gap: var(--gap);
}

.infiniteScroll {
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);

    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.infiniteScrollitem {
    flex-shrink: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

.infiniteScrollitem img {
    height: 100%;
    object-fit: contain;
}

/*  */
/* Course Card */
/*  */

.course-card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    background: white;
    max-width: 300px;
    height: 25rem;
    border: rgb(0, 0, 0, 0.1) 1px solid;
}

.course-card p {
    margin: 0;
}

.course-img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.course-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-badge-container {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.course-badge {
    font-size: 0.875rem;
    line-height: 1em;
    font-weight: 800;
    background: white;
    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.course-card-body {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.course-card-body-top {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.course-title {
    font-size: 1.125rem;
    font-weight: 600;
}

.course-program,
.course-description,
.course-card-body-bottom {
    font-size: 0.875rem;
    color: rgb(91, 103, 128);
}

.course-description {
    --max-lines: 3;

    /* --line-height: 1.4;
    line-height: var(--line-height);
    max-height: calc(var(--max-lines) * 1em * var(--line-height)); */

    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: var(--max-lines);
    -webkit-line-clamp: var(--max-lines);

    overflow: hidden;
    text-overflow: ellipsis;
}
